@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main_container {
        width: 90% !important;

        .toggle_theme_container {
            button {
                width: 25% !important;

                &::before {
                    width: 40% !important;
                }
            }

            input {
                right: 7% !important;

                &:checked+button::before {
                    transform: translate(-23px) !important;
                }
            }
        }

        .follower_stats_container {
            justify-content: space-around !important;
            .box {
                width: 23% !important;
            
                h2 {
                    font-size: 50px !important;
                }
            }
        }

        .overview_container {
            text-indent: 10px !important;
        }

        .subs_stats_container {
            .upper_part, .bottom_part {
                justify-content: space-evenly !important;
                gap: 12px !important;
            }

            .box {
                width: 23.5% !important;
                h2 {
                    font-size: 30px !important;
                }
            }
    
            .text {
                padding-left: 20px !important;
            
                p {
                    font-size: 16px !important;
                }
            }
        }
    }    
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .main_container {
        width: 100% !important;

        .toggle_theme_container {
            button {
                width: 35% !important;
                height: 30% !important;

                &::before {
                    top: 10% !important;
                    width: 38% !important;
                }
            }

            input {
                width: 6% !important;
                right: 1.5% !important;

                &:checked+button::before {
                    transform: translate(-30px) !important;
                }
            }
        }

        .follower_stats_container {
            padding-bottom: 10px !important;
            justify-content: space-evenly !important;
            height: 35% !important;
            margin-bottom: 0px !important;

            .box {
                width: 23.5% !important;
                height: 70% !important;
    
                h2 {
                    font-size: 45px !important;
                }
            }
        }
    
        .overview_container {
            text-indent: 25px !important;
        }
    
        .subs_stats_container {
            .upper_part, .bottom_part {
                gap: 5px !important;    
                justify-content: space-evenly !important;

                .box {
                    width: 23.5% !important;

                    h2 {
                        font-size: 30px !important;
                    }
                }
        
                .text {
                    padding-left: 20px !important;
                    display: flex;
                    justify-content: flex-start !important;
                    width: 60% !important;
                
                    p {
                        font-size: 14px !important;
                    }
                }

                .stat {
                    width: 100% !important;
                }

                .img {
                    padding-right: 20px !important;
                    width: 40% !important;
                }
            }
        }
    }    
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .main_container {
        width: 100% !important;

        .title_container {
            text-indent: 5px !important;
        }

        .toggle_theme_container {
            width: 30% !important;
            
            button {
                width: 35% !important;
                height: 30% !important;

                &::before {
                    top: 10% !important;
                    width: 38% !important;
                }
            }

            input {
                width: 6% !important;
                right: 1.5% !important;

                &:checked+button::before {
                    transform: translate(-30px) !important;
                }
            }
        }

        .follower_stats_container {
            padding-bottom: 10px !important;
            justify-content: space-evenly !important;
            height: 35% !important;
            margin-bottom: 0px !important;

            .box {
                width: 23.5% !important;
                height: 70% !important;
    
                h2 {
                    font-size: 45px !important;
                }
            }
        }
    
        .overview_container {
            text-indent: 5px !important;
        }
    
        .subs_stats_container {
            .upper_part, .bottom_part {
                gap: 5px !important;    
                justify-content: space-evenly !important;

                .box {
                    width: 23.5% !important;

                    h2 {
                        font-size: 30px !important;
                    }
                }
        
                .text {
                    padding-left: 20px !important;
                    display: flex;
                    justify-content: flex-start !important;
                    width: 60% !important;
                
                    p {
                        font-size: 14px !important;
                    }
                }

                .stat {
                    width: 100% !important;
                }

                .img {
                    padding-right: 20px !important;
                    width: 40% !important;
                }
            }
        }
    }  
} 